---
layout: layouts/base_sp.ejs
title: 2023年10月26日は運命の日
stylesheet: /css/sp/special/special_draft2023.css
---
<div class="head-banner"><img alt="" src="https://sky-a.asahi.co.jp/img/sp/global/company_icon.png"> <span> 特設サイト </span></div>
<div class="draft">
<h1 class="top-title"><img alt="プロ野球ドラフト会議 supported by リポビタンD 2023年10月26日は運命の日" src="../../img/sp/special/draft2023/main-image.jpg" width="640" height="690"></h1>

<div class="content-block head">
	<div class="head-icon">
		<img src="../../img/sp/special/draft2023/icon_draft.png" alt="スポーツ専門チャンネルで放送する今日・明日の番組" width="183" height="170">
	</div>
	<p class="heading-title center">
		全12球団の、最も注目が集まる１位指名から<br>最終指名、さらには育成選手指名まで、<br>次世代のスター選手誕生の瞬間を完全生中継。<br>指名を受けた選手の交渉権は<br>どの球団が獲得するのか注目です。
	</p>
</div>
<!-- ドラフトまでの足跡 -->
<div class="content-block green" id="section-matsukura">
<%- include('../_includes/partials/column_matsukura') %>
</div>

<!-- ドラフトまでの軌跡 -->
<div class="content-block dark-gray" id="section-nishio">
<%- include('../_includes/partials/column_nishio') %>
</div>

<%#<!-- 注目選手予告 -->
<div class="content-block red">
<p class="heading-title center">夏の甲子園終了後に、<br class="sp-view">ドラフト注目選手を掲載予定！<br>
	<span>coming soon</span>
</p>
</div>%>

<!-- 注目選手リスト -->
<div class="content-block light-blue" id="section-player">
<%- include('../_includes/partials/column_player') %>
</div>

<!-- 関連リンク -->
<div class="content-block beige">
<%- include('../_includes/partials/section-links') %>
</div>

<!-- .banner-list -->
<%- include('../_includes/partials/banner-list') %>

	<div class="content-bottom">
		<div class="c-sptv">
			<a class="c-sptv-link" href="https://promo.skyperfectv.co.jp/guide/?skya=howto" onclick="ga('send', 'event', 'click', 'draft2023_sp');" target="_blank">
				<span class="m-sptvLink__title">スカイA見るならスカパー！</span>
				<img alt="CS250ch　加入料0円、月額1,529円（税込）、録画OK　お申込み・お問合せはスカイＡ カスタマーセンター　0570-066-250 年中無休（10:00～20:00）　スカイＡはスカパー！、ケーブルテレビ、ひかりTVでご視聴いただけます。　お申込みはこちら" src="../../img/sp/special/draft2023/sptv2.png">
			</a>
		</div>
	</div>
</div>
