---
layout: layouts/base.ejs
title: 2023年10月26日は運命の日
stylesheet: /css/special/special_draft2023.css
---
<div class="draft">
<h1 class="top-title"><img alt="プロ野球ドラフト会議 supported by リポビタンD 2023年10月26日は運命の日" src="../../img/special/draft2023/main-image.jpg" width="1920" height="1098"></h1>

<div class="content-block head">
<p class="heading-title center">
	全12球団の、最も注目が集まる１位指名から最終指名、<br>
	さらには育成選手指名まで、次世代のスター選手誕生の瞬間を完全生中継！
</p>
<!-- .banner-list -->
<%- include('../_includes/partials/banner-list') %>
</div>

<!-- ドラフトまでの足跡 -->
<div class="content-block green" id="section-matsukura">
<%- include('../_includes/partials/column_matsukura') %>
</div>

<!-- ドラフトまでの軌跡 -->
<div class="content-block dark-gray" id="section-nishio">
<%- include('../_includes/partials/column_nishio') %>
</div>

<div class="content-block red">
<%#-<!-- 注目選手予告 -->
<p class="heading-title center">夏の甲子園終了後に、<br class="sp-view">ドラフト注目選手を掲載予定！<br>
	<span>coming soon</span>
</p>
</div>%>

<!-- 注目選手リスト -->
<div class="content-block light-blue" id="section-player">
<%- include('../_includes/partials/column_player') %>
</div>

<!-- 関連リンク -->
<div class="content-block beige">
<%- include('../_includes/partials/section-links') %>
</div>

	<div class="content-bottom">
		<div class="c-sptv"><a class="c-sptv-link" href="https://promo.skyperfectv.co.jp/guide/?skya=howto" onclick="ga('send', 'event', 'click', 'draft2023_pc');" target="_blank"><img alt="スカイA見るならスカパー！ スカイAはスカパー！ CS250ch　加入料0円、月額1,529円（税込）、録画OK　お申込み・お問合せはスカイＡ カスタマーセンター　0570-066-250 年中無休（10:00～20:00）　スカイＡはスカパー！、ケーブルテレビ、ひかりTVでご視聴いただけます。　お申込みはこちら" src="../../img/special/draft2023/sptv1.jpg"> </a></div>
	</div>
</div>
